---
import { menuLinks } from "@/site-config";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-10 mt-5 flex flex-col sm:mt-0" id="main-header">
	<div class="flex flex-col sm:flex-row sm:items-baseline sm:justify-between sm:gap-4">
		<div class="inline-flex items-center">
			<div class="leading-tight">
				<div class="flex items-baseline gap-1">
					<span class="text-3xl font-black tracking-wide sm:text-5xl" style="font-family: 'Harding Text Web', serif;">
						<span>Xu</span><span class="-ms-0.5 sm:-ms-1">&nbsp;Pan</span>
					</span>
                    <span>&nbsp;&nbsp;</span>
					<span class="text-xl font-black sm:text-3xl sm:leading-none relative -top-[2px]" style="font-family: 'Noto Serif SC', serif;">潘旭</span>
				</div>
				<span class="text-xs leading-snug sm:text-base sm:leading-normal">
					Incoming Research Associate at Nanyang Technological University, Singapore<br />
				</span>
			</div>
		</div>
		<div class="hidden sm:flex sm:items-start">
			<ThemeToggle />
		</div>
	</div>
    <nav
        aria-label="Main menu"
        class="absolute left-2 right-0 top-32 hidden flex-col gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ml-2 sm:flex sm:flex-row sm:items-center sm:gap-1 sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
        id="navigation-menu"
    >
        {
            menuLinks.map((link) => (
                <a
                    aria-current={url.pathname === link.path ? "page" : false}
                    class="px-0 py-4 underline-offset-2 sm:px-2 sm:py-0 sm:hover:underline"
                    data-astro-prefetch
                    href={link.path}
                >
                    {link.title}
                </a>
            ))
        }
    </nav>
</header>

<style>
	@media (min-width: 0px) {
		#navigation-menu a + a {
			position: relative;
		}

		#navigation-menu a + a::before {
			content: "•";
			position: absolute;
			inset-inline-start: 0;
			top: 50%;
			transform: translate(-0.3rem, -50%);
			opacity: 0.6;
			color: currentColor;
			pointer-events: none;
		}
	}
</style>
