---
// import { Image } from "astro:assets";
// import aboutImg from "@/assets/about-astro.png";
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "CV",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">CV</h1>
		<p>
			You can check out my basic info in <a class="cactus-link" href="https://linkedin.com/in/xupanwhu">Linkedin</a>,
			or download the CV from <a class="cactus-link" href="https://raw.githubusercontent.com/TwSphinx54/TwSphinx54.github.io/refs/heads/main/public/Resume.pdf" download>here</a>
			or <a class="cactus-link" href="https://raw.githubusercontent.com/TwSphinx54/TwSphinx54.github.io/refs/heads/main/public/Resume_zh_CN.pdf" download>zh_CN version</a>.
		</p>
		<p>
			I am currently seeking a <span class="text-accent"><strong>Ph.D.</strong></span> opportunity in 
			<em><strong>computer vision</strong></em>, 
			<em><strong>deep learning</strong></em>, and 
			<em><strong>generative AI</strong></em>, 
			with a focus on the intersection of <em><strong>3D vision</strong></em> and 
			<em><strong>generative models</strong></em>. 
			My research aims to develop <em><strong>trustworthy 3D representations</strong></em> by integrating generative techniques for advanced reconstruction and scene synthesis, 
			while also extending toward <em><strong>embodied intelligence</strong></em> and 
			<em><strong>autonomous agents</strong></em>, where reliable spatial reasoning enables real-world interaction and decision-making.  
			I’m eager to expand my expertise and welcome collaborative discussions or connections.
		</p>
		<p>
		For questions or to connect, feel free to reach out via <a class="cactus-link" href="mailto:panxurs@whu.edu.cn">Email</a>.
		</p>
		<!--<div class="flex justify-center">-->
		<!--	<Image-->
		<!--		alt="A cartoon cactus looking at the 'Astro.build' logo"-->
		<!--		fetchpriority="high"-->
		<!--		loading="eager"-->
		<!--		src={aboutImg}-->
		<!--	/>-->
		<!--</div>-->
		<!--<p>Here are my some of my awesome built in features:</p>-->
		<!--<ul class="list-inside list-disc">-->
		<!--	<li>I'm ultra fast as I'm a static site</li>-->
		<!--	<li>I'm fully responsive</li>-->
		<!--	<li>I come with a light and dark mode</li>-->
		<!--	<li>I'm easy to customise and add additional content</li>-->
		<!--	<li>I have Tailwind CSS styling</li>-->
		<!--	<li>Shiki code syntax highlighting</li>-->
		<!--	<li>Satori for auto generating OG images for blog posts</li>-->
		<!--</ul>-->
		<!--<p>-->
		<!--	Clone or fork my <a-->
		<!--		aria-label="github repository"-->
		<!--		class="cactus-link inline-block"-->
		<!--		href="https://github.com/chrismwilliams/astro-cactus"-->
		<!--		rel="noreferrer"-->
		<!--		target="_blank">repo</a-->
		<!--	> if you like me!-->
		<!--</p>-->
	</div>
</PageLayout>
